@CHARSET "UTF-8";
/*
	FAA - Fuselage Authorization and Authentication
*/


/*	Layout	*/
html {
	font: small-caption;
	font-size: 12px;
	text-shadow: 0 1px 0 rgba(255, 255, 255, 0.7);
}

body {
	margin: 0px;
	padding: 0px;
}

#faa-top-id {
	width: 100%;
	background-color: #E8E8E8;
	height: 25px;
	border-bottom: solid 1px #AFAFAF;
}

#faa-top-id a {
	color: #4F4F4F;
	text-decoration: none;
	font-weight: bold;
	display: inline-block;
	line-height: 25px;
	padding-left: 10px;
	padding-right: 10px;
}

#faa-top-id a:hover {
	background-color: #D0D0D0;
}

#faa-top-id a.selected {
	background-color: #CCCCCC;
}

#faa-body-left-id {
	float: left;
	width: 180px;
	padding-top: 20px;
}

#faa-body-left-id a {
	color: black;
	text-decoration: none;
	display: block;
	padding-top: 4px;
	padding-left: 15px;
	padding-bottom: 4px;
}

#faa-body-left-id a:hover {
	background-color: #74ffcc;
	font-weight: bold;
}

#faa-body-left-id a.selected {
	background-color: #2ec890;
	color: white;
}

#faa-body-left-id a.selected:hover {
	background-color: #2ec890;
	color: white;
	font-weight: normal;
}

#faa-body-right-id {
	margin-left: 180px;
	right: 1px;
	border: 3px solid #2ec890;
	min-height: 400px;
	border-radius: 7px 7px 7px 7px;
}

/*	HTML tags	*/
td.top {
	vertical-align: top;
}

fieldset {
	border: 0px !important;
	border-top: 2px solid #BBC5CD !important;
	border-radius: 0px !important;
	margin: 0px !important;
	padding: 0px !important;
	padding-top: 5px;
}

input[type=text].filter {
	width: 270px;
	font-weight: bold;
	border: 2px solid gray;
	height: 22px;
	margin-right: 3px;
}

button.margin {
	margin-right: 12px;
}

/*	Dialog */
.dialog-body {
	width: 100%;
	border-bottom: 2px solid #AFAFAF;
	padding: 15px 20px 25px 30px;
	margin-bottom: 10px;
}

.dialog-body-role {
	padding: 0;
}

.dialog-body-profile,.dialog-body-user,.dialog-body-profileByRule {
	padding: 0 0 7px;
}

.dialog-body td {
	padding-top: 4px;
	color: #3F586D;
	font-weight: bold;
	vertical-align: top;
	text-align: left;
}

.dialog-body input[type=text],input[type=password],textarea,select {
	width: 375px;
	border: 1px solid #BBC5CD !important;
	padding: 3px !important;
	border-radius: 0px !important;
	box-shadow: none !important;
	color: black;
}

.dialog-body input[type=text]:focus,input[type=password]:focus,textarea:focus,select:focus
	{
	border: 1px solid #BBC5CD;
	background-color: #FFFFE0;
}

.dialog-body select {
	width: 383px;
	background-color: white;
}

.dialog-body textarea {
	height: 70px;
}

.dialog-body table {
	width: 100%;
}

.dialog-body .ui-datatable .ui-paginator-top {
	border: 0px;
}

.dialog-body-role tbody tr td,.dialog-body-profile tbody tr td,.dialog-body-user tbody tr td,.dialog-body-profileByRule tbody tr td
	{
	width: 400px;
}

.dialog-body-role .ui-widget-header,.dialog-body-profile .ui-widget-header,.dialog-body-user .ui-widget-header,.dialog-body-profileByRule .ui-widget-header
	{
	background: none;
}

.dialog-selectonemenu {
	width: 382px !important;
}

.dialog-selectonemenu a {
	width: 360px;
	display: block;
	overflow: hidden;
}

.dialog-selectonemenu a label {
	white-space: nowrap;
}

.dialog-selectonemenu-numbers {
	width: 55px !important;
}

ul.dialog-messages {
	margin: 0px;
	list-style: square;
	padding: 0px;
	padding-left: 14px;
}

ul.dialog-messages li {
	margin: 0px;
	font-size: 11px;
}

.dialog-message-success {
	color: black;
	font-weight: bold;
	padding-left: 20px;
	margin-left: 3px;
	background-repeat: no-repeat;
	background-image:
		url('/archetype-fuselage/javax.faces.resource/faa-success.gif.jsf?ln=images');
}

.dialog-close-link {
	color: #3F586D;
	font-weight: bold;
	text-decoration: none;
	margin-right: 25px;
	padding-top: 5px;
	float: right;
}

.dialog-message-saving {
	padding-left: 35px;
	margin-left: 3px;
	color: black;
	font-weight: bold;
	background-repeat: no-repeat;
	background-image:
		url('/archetype-fuselage/javax.faces.resource/faa-wait.gif.jsf?ln=images');
}

.dialog-datatable td {
	font-weight: normal;
}

.dialog-datatable .ui-datatable-data .ui-dt-c div {
	display: inline-block;
	line-height: 24px;
	overflow: hidden;
	white-space: pre;
}

.dialog-datatable .ui-sortable-column {
	background: none;
}

.dialog-datatable table thead tr th.ui-state-default {
	background: none !important;
}

.dialog-datatable-smallest table tbody.ui-datatable-data-empty tr {
	height: 90px;
}

.dialog-datatable-small table tbody.ui-datatable-data-empty tr {
	height: 175px;
}

/*	Fuselage	*/
tbody tr td.faa-label .ui-dt-c {
	text-align: center;
	font-size: 10px;
	font-family: Tahoma;
	white-space: pre;
	color: #FFFFD4;
	display: block;
	width: 30px;
	padding: 4px 20px !important;
}

tbody tr td.faa-label-user .ui-dt-c {
	background-color: #ae7c4f;
	border-color: #ae7c4f;
}

tbody tr td.faa-label-profile .ui-dt-c {
	background-color: #5A6986;
	border-color: #5A6986;
}

tbody tr td.faa-label-role .ui-dt-c {
	background-color: #6FA8DC;
	border-color: #6FA8DC;
}

tbody tr td.faa-label-resource .ui-dt-c {
	background-color: #dc9f68;
	border-color: #dc9f68;
	width: 50px;
}

tbody tr td.faa-label-profileByRule .ui-dt-c {
	background-color: #aaaaaa;
	border-color: #aaaaaa;
}

.faa-header-items td {
	padding-right: 45px;
}

