@CHARSET "UTF-8";
/*
	FAA - Fuselage Authorization and Authentication
*/
@font-face {
	font-family: DroidSans;
	src: url("/atius/javax.faces.resource/DroidSans.eot.jsf?ln=css/fonts");
}

@font-face {
	font-family: DroidSans;
	src: url("/atius/javax.faces.resource/DroidSans-Bold.eot.jsf?ln=css/fonts");
	font-weight: bold;
}

@font-face {
	font-family: DroidSans;
	src: url("/atius/javax.faces.resource/DroidSans.ttf.jsf?ln=css/fonts");
}

@font-face {
	font-family: DroidSans;
	src: url("/atius/javax.faces.resource/DroidSans-Bold.ttf.jsf?ln=css/fonts");
	font-weight: bold;
}

@font-face {
	font-family: ChanceryMediumItalic;
	src:
		url("/atius/javax.faces.resource/urw-chancery-l-medium-italic.eot.jsf?ln=css/fonts");
}

@font-face {
	font-family: ChanceryMediumItalic;
	src:
		url("/atius/javax.faces.resource/urw-chancery-l-medium-italic.ttf.jsf?ln=css/fonts");
}

@font-face {
	font-family: PalladioBold;
	src:
		url("/atius/javax.faces.resource/urw-palladio-l-bold.eot.jsf?ln=css/fonts");
}

@font-face {
	font-family: PalladioBold;
	src:
		url("/atius/javax.faces.resource/urw-palladio-l-bold.ttf.jsf?ln=css/fonts");
}

/*	Layout	*/
html {
	font-family: DroidSans;
	font-size: 12.5px;
}

body {
	margin: 0px;
	padding: 0px;
}

#faa-top-id {
	width: 100%;
	background-color: #E8E8E8;
	height: 25px;
	border-bottom: solid 1px #AFAFAF;
	text-shadow: 0 1px 0 rgba(255, 255, 255, 0.7);
}

#faa-top-id a {
	color: #4F4F4F;
	text-decoration: none;
	display: inline-block;
	line-height: 25px;
	padding-left: 10px;
	padding-right: 10px;
}

#faa-top-id a:hover {
	background-color: #D0D0D0;
}

#faa-top-id a.selected {
	background-color: #CCCCCC;
}

#faa-body-left-id {
	float: left;
	width: 180px;
	padding-top: 20px;
	overflow: hidden;
}

#faa-body-left-id a {
	color: black;
	text-decoration: none;
	text-shadow: 1px 1px 9px #D6D6D6;
	display: block;
	padding-top: 4px;
	padding-left: 15px;
	padding-bottom: 4px;
}

#faa-body-left-id a:hover {
	font-weight: bold;
}

#faa-body-left-id a.selected {
	box-shadow: 0 4px 8px #888888;
	background-color: #374140;
	color: white;
}

#faa-body-left-id a.selected:hover {
	background-color: #374140;
	color: white;
	font-weight: normal;
}

#faa-body-right-id {
	margin-right: 3px;
	right: 1px;
	border: 1px solid #374140;
	overflow: hidden;
	box-shadow: 8px 10px 12px #CCCCDD;
	min-height: 400px;
	border-radius: 10px 10px 10px 10px;
	background: #F6F6F6;
}

/*	HTML tags	*/
td.top {
	vertical-align: top;
}

span.logo {
	color: #374140;
	font-family: ChanceryMediumItalic;
	font-size: 64px;
	text-decoration: none;
	text-shadow: 2px 2px 2px #888888;
}

.logo {
	margin-left: 10px;
	margin-right: 18px;
	display: inline-block;
	text-decoration: none;
	width: 151px;
	height: 60px;
}

fieldset {
	border: 0px !important;
	border-top: 2px solid #BBC5CD !important;
	border-radius: 0px !important;
	margin: 0px !important;
	padding: 0px !important;
	padding-top: 5px;
}

input[type=text].filter {
	width: 270px !important;
	font-weight: bold;
	border: 1px solid gray;
	border-radius: 3px 3px 3px 3px;
	height: 22px;
	margin-right: 3px;
}

input[type=text].filter:focus {
	background: transparent !important;
}

div.filter {
	height: 28px;
	border: 1px solid #BBC5CD;
	display: inline-block;
	margin-right: 3px;
}

div.filter input[type="text"] {
	width: 270px !important;
	font-weight: bold;
	height: 22px;
	border: none !important;
	outline: none;
}

div.filter input[type="text"]:focus {
	background: transparent;
}

div.filter button {
	background: none !important;
	border: none;
	box-shadow: none !important;
}

div.filter button:hover {
	background: none !important;
	border: none;
	box-shadow: none;
}

button.forItems {
	margin-right: 12px;
}

button.forHeader {
	margin-right: 45px;
}

/*	Dialog */
.dialog-body {
	width: 100%;
	border-bottom: 2px solid #AFAFAF;
	padding: 15px 20px 25px 30px;
	margin-bottom: 10px;
}

.dialog-body td {
	padding-top: 4px;
	color: #3F586D;
	font-weight: bold;
	vertical-align: top;
	text-align: left;
}

.dialog-body input[type=text],.dialog-body input[type=password],.dialog-body textarea,.dialog-body select
	{
	width: 375px;
	border: 1px solid #BBC5CD !important;
	padding: 3px !important;
	border-radius: 0px !important;
	box-shadow: none !important;
	color: black;
}

.dialog-body span.asInput {
	border: 1px solid #BBC5CD;
	display: block;
	font-weight: normal;
	line-height: 22px;
	padding-left: 4px;
	width: 378px;
}

.dialog-body-input input[type=text],.dialog-body-input input[type=password],.dialog-body-input textarea,.dialog-body-input select
	{
	width: 340px;
}

.dialog-body input[type=text]:focus,.dialog-body input[type=password]:focus,.dialog-body textarea:focus,.dialog-body select:focus
	{
	border: 1px solid #BBC5CD;
	background-color: #FFFFE0;
}

.dialog-body select {
	width: 383px;
	background-color: white;
}

.dialog-body textarea {
	height: 70px;
}

.dialog-body table {
	width: 100%;
}

.dialog-body .ui-datatable .ui-paginator-top {
	border: 0px;
}

.dialog-body-table .ui-widget-header {
	background: none;
}

.dialog-body-table {
	padding: 0 0 7px;
}

.dialog-body-tableOnRight .ui-datatable th.ui-state-default {
	padding-left: 0px;
}

.dialog-body-tableOnRight tbody tr td {
	width: 400px;
}

.dialog-selectonemenu {
	width: 382px !important;
}

.dialog-selectonemenu a {
	width: 360px;
	display: block;
	overflow: hidden;
}

.dialog-selectonemenu a label {
	white-space: nowrap;
}

.dialog-selectonemenu-numbers {
	width: 55px !important;
}

ul.dialog-messages {
	margin: 0px;
	list-style: square;
	padding: 0px;
	padding-left: 14px;
}

ul.dialog-messages li {
	margin: 0px;
	font-size: 11px;
}

.dialog-message-success {
	color: black;
	font-weight: bold;
	margin-left: 3px;
	background-repeat: no-repeat;
}

.dialog-close-link {
	color: #3F586D;
	font-weight: bold;
	text-decoration: none;
	margin-right: 25px;
	padding-top: 5px;
	float: right;
}

.dialog-message-saving {
	padding-left: 35px;
	margin-left: 3px;
	color: black;
	font-weight: bold;
	background-repeat: no-repeat;
	background-image:
		url('/atius/javax.faces.resource/faa-wait.gif.jsf?ln=images');
}

.dialog-datatable td {
	font-weight: normal;
}

.dialog-datatable .ui-datatable-data .ui-dt-c div {
	display: inline-block;
	line-height: 24px;
	overflow: hidden;
	white-space: pre;
}

.dialog-datatable .ui-sortable-column {
	background: none;
}

.dialog-datatable table thead tr th.ui-state-default {
	background: none !important;
}

.dialog-datatable-smallest table tbody.ui-datatable-data-empty tr {
	height: 90px;
}

.dialog-datatable-small table tbody.ui-datatable-data-empty tr {
	height: 175px;
}

.dialog-datatable-small td {
	font-weight: normal;
}

/*	Fuselage	*/
tbody tr td.faa-label {
	width: 80px;
}

tbody tr td.faa-label .ui-dt-c {
	text-align: center;
	font-size: 10px;
	font-family: Tahoma;
	white-space: pre;
	color: #FFFFD4;
	display: block;
	width: 30px;
	padding: 4px 20px !important;
}

tbody tr td.faa-label-user .ui-dt-c {
	background-color: #ae7c4f;
	border-color: #ae7c4f;
}

tbody tr td.faa-label-profile .ui-dt-c {
	background-color: #5A6986;
	border-color: #5A6986;
}

tbody tr td.faa-label-role .ui-dt-c {
	background-color: #6FA8DC;
	border-color: #6FA8DC;
}

tbody tr td.faa-label-resource {
	width: 100px;
}

tbody tr td.faa-label-resource .ui-dt-c {
	background-color: #dc9f68;
	border-color: #dc9f68;
	width: 50px;
}

tbody tr td.faa-label-profileByRule .ui-dt-c {
	background-color: #aaaaaa;
	border-color: #aaaaaa;
}

div.panel {
	font-family: PalladioBold;
	font-size: 14px;
	letter-spacing: 1px;
	background-color: #374140;
	color: #E0E0E0;
	box-shadow: 4px 4px 8px #888888;
	border: 1px solid #BBC5CD;
	display: block;
	background-color: #374140;
	padding: 5px 10px;
}

div.panel-menu {
	border: none;
	padding: 0px 0px 0px 5px;
	margin: 0px 10px 10px 10px;
	line-height: 25px;
}

div.panel button.transparent {
	background: none !important;
	border: none;
	box-shadow: none;
}

div.panel form {
	display: inline-block;
	float: right;
	margin-top: -5px;
}

div.panel form button.ui-button .ui-icon {
	background-color: #BBCCCC;
}

div.panel form button.ui-button:hover .ui-icon {
	background-color: #5CC6C6;
}

div.asTable {
	margin-top: 10px;
	color: #3F586D;
}

div.asRow {
	border-bottom-style: solid;
	border-bottom-width: 1px;
	border-bottom-color: #D6D6D6;
	padding-left: 3px;
	border-bottom-width: 1px;
}

div.asRowOdd {
	background-color: #F9F9F9;
}

div.asRowEven {
	background-color: #EBEBF3;
}

div.asColumn {
	line-height: 28px;
	min-height: 28px;
}

div.asColumnLeft {
	float: left;
	width: 170px;
}